simulations/justification/explanation.aux
simulations/justification/explanation.log
simulations/justification/explanation.pdf
simulations/test.Rout.save
simulations/benefit.pdf
simulations/results

manuscript/betternorm.aux
manuscript/betternorm.bbl
manuscript/betternorm.blg
manuscript/betternorm.log
manuscript/betternorm.pdf
manuscript/betternorm.out
manuscript/pics/library_ring.pdf

data/
results/
zeisel/*.swp
zeisel/.RData
zeisel/*.pdf
