simulations/results
simulations/results_high
simulations/highcounts.R

manuscript/betternorm.aux
manuscript/betternorm.bbl
manuscript/betternorm.blg
manuscript/betternorm.log
manuscript/betternorm.pdf
manuscript/betternorm.out
manuscript/pics/*.pdf

manuscript/suppmat.aux
manuscript/suppmat.log
manuscript/suppmat.pdf

manuscript/dependency_break.aux
manuscript/dependency_break.log

data/
results/
realdata/*.swp
realdata/.RData
realdata/*.csv
realdata/*.txt
realdata/*.rds
realdata/DEresults
realdata/GOresults
realdata/HVGresults
realdata/*.png
realdata/*.pdf
